<center>
<div align="right">
  <%= link_to "volver".html_safe,
              clients_path , class: 'btn btn-success btn-xs'%>

</div>

<h2 align="center" class="titulo">Participante</h2>

  <div align="justify" class="div-formulario" >
    <p>
     Toda aquella persona que realice una adquisición de la tienda,
      ya sean productos, cursos, o adquiera una membresía. El participante con membresía
      tiene beneficios sobre las categorías de los produtos.
    </p>
  </div>




<h2 align="center" class="titulo">Crear, editar, afiliar a membresía y eliminar un participante</h2>


<div >
<%= video_tag "Participante.mp4", :size => "620x340", :controls => true %>
</div>


</center>