<div class="col-sm-3">
 <table>
  <tr><td>
<h3>Busqueda</h3>

<%= form_tag "/search/createcli", method: 'get', remote: true, id:"search-form" do %>
    <div>
      <strong>Documento: </strong><br><br><%= text_field_tag :keyword, nil, placeholder: 'Documento', :size => 40 %><br><br>
            <strong>Membresía: </strong><br><br><%= text_field_tag :keyword1, nil, placeholder: 'Membresía', :size => 40 %><br><hr>

      <%= content_tag :button,class:"btn btn-primary btn-lg" , type: :submit do%> Buscar <% end %>

<% end %>
</div>
  </td><td>
<div id="graficascli">

</div>
  </td></tr>
 </table>
  <div class="container">
  <table class="table table-striped" width="300">
    <thead >
    <tr>
      <th width="80">Tipo de documento</th>
      <th width="80">Número de Documento</th>
      <th width="80">Nombre</th>
      <th width="80">Apellido</th>
      <th width="80">Membresía</th>
    </tr>
    </thead>
  </table>
  <div id="resultadoscli">
  </div>
</div>

  <div id="graficascli">

  </div>

</div>
