<div class=" jumbotron nuevo div-cart">
<table>
<thead>
<tr>
  <td colspan="2">Cantidad</td>
  <td colspan="2">Nombre</td>
  <td colspan="2">Valor Unitario</td>
  <td colspan="2">Valor X Cantidad</td>

</tr>
</thead>
  <%= render(cart.line_items) %>

  <tr class="total_line">
    <th colspan="3"><h4>Total</h4></th>
    <th class="total_cell"><h4><%= number_to_currency(cart.total_price) %></h4></th>

  </tr>
 </table>

<%= button_to 'Vaciar carrito', @cart, method: :delete,
              data: { confirm: '¿Estas seguro?' } %></td>

</div>