<h1>Bienvenido al centro de meditacion yamantaka</h1>
<%= @client.nombre%>
<h2>Te has afiliado a la membresia</h2>
<%= @membership.society.nombre %>
<h2>La membresia tiene los siguientes beneficios</h2>
<%= @membership.society.descripcio%>