<center>
<div align="right">
  <%= link_to "volver".html_safe,
              societies_path , class: 'btn btn-success btn-xs'%>

</div>

<h2 align="center" class="titulo">Membresía</h2>

  <div align="justify" class="div-formulario" >
    <p>
      Es un servicio que provee el centro para mejorar la experiencia del
      cliente lo cual le proporciona unos descuentos tanto en productos y cursos
      dependiendo a la categoría a la que pertenezcan.
    </p>
  </div>




<h2 align="center" class="titulo">Crear, editar y eliminar una membresía</h2>


<div >
<%= video_tag "membresia.mp4", :size => "620x340", :controls => true %>
</div>


</center>