<div align="right">
  <%= link_to "volver".html_safe,
              categories_path , class: 'btn btn-success btn-xs'%>

</div>
<center>

  <div align="justify" class="div-formulario" >
    <h2 align="center" class="titulo">Categoría</h2>
    <p align="center">Una categoría es creada para agrupar los productos y cursos clasificandolos con un nombre.</p>

  </div>




<h2 align="center" class="titulo">Crear, editar y eliminar una categoría</h2>


<div >
<%= video_tag "categoria.mp4", :size => "620x340", :controls => true %>
</div>


</center>