<center>
<div align="right">
  <%= link_to "volver".html_safe,
              cursos_path , class: 'btn btn-success btn-xs'%>

</div>

<h2 align="center" class="titulo">Curso</h2>

  <div align="justify" class="div-formulario" >
    <p>
      Es un servicio que provee el centro con el fin de difundir
      la cultura budista y generar un conocimiento en los clientes o asistentes del centro.

    </p>
  </div>




<h2 align="center" class="titulo">Crear, editar y eliminar un curso</h2>


<div >
<%= video_tag "curso.mp4", :size => "620x340", :controls => true %>
</div>


</center>