<center>
<div align="right">
  <%= link_to "volver".html_safe,
              products_path , class: 'btn btn-success btn-xs'%>

</div>

<h2 align="center" class="titulo">Producto</h2>

  <div align="justify" class="div-formulario" >
    <p>
      Es un item o bien que se vende en el centro de meditación con el fin de difundir
      la cultura budista y generar un bien monetario para el sostenimiento del centro.
    </p>
  </div>




<h2 align="center" class="titulo">Crear, Modificar, Exportar, Importar y Eliminar un producto</h2>


<div >
<%= video_tag "productos.mp4", :size => "620x340", :controls => true %>
</div>


</center>