

<% if @participante.first != nil %>
    <hr color="white">
    <h3><strong>Nombre: </strong><%= @participante.first.nombre %> <strong>Apellido: </strong><%= @participante.first.apellido %></h3>

    <h3><strong>Membresía: </strong><%= @participante.first.membership.society.nombre  %></h3>
<% else @participante %>
<h4>No se encontro al participante</h4>
<% end %>