<center>
<div align="right">
  <%= link_to "volver".html_safe,
              tienda_path , class: 'btn btn-success btn-xs'%>

</div>

<h2 align="center" class="titulo">Tienda</h2>

  <div align="justify" class="div-formulario" >
    <p>
    Es el lugar donde se realizarán las las ventas del centro hacia
      los participantes, ya sean de productos, cursos,
      afiliacion a membresía, o pago de cuota de membresía.
    </p>
  </div>


<br>

<h4 align="center" class="titulo">Agregar productos o cursos al carrito, Identificar el participante, Generar compra, Imprimir Recibo</h4>


<div >
<%= video_tag "tienda.mp4", :size => "620x340", :controls => true %>
</div>


</center>